*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    height: 100%;
}
.flex-item{
    margin: auto;
    width: 50%;
    padding: 150px;
    align-items: center;
    text-align: center;
}
#login-form{
    margin: auto;
    background-color: #36454F;
    padding: 30px;
    color: white;
}
.heading{
    font-style: italic;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}
input[type="text"]{
    padding: 10px;
    margin:5px 5px;
    text-align: left;
    border-radius: 8px;
}
input[type="submit"]{
    padding: 8px;
    margin-top: 5px;
    background-color: red;
    color:white;
    border-radius: 8px;
}
